
.ad-leaderboard {
	padding:0.5em 0.2em 0.5em 0.2em;
}

.ad-skyscraper-left {
	width:160px; /* this will push the next ad downwards */
	float:left;
	position:absolute;
	top:0;
	left:0;
}

.ad-skyscraper-right {
	width:160px; /* this will push the next ad downwards */
	float:right;
	position:absolute;
	top:0;
	right:0;
}